/* https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535 */
/* https://youtu.be/pnpDhdVUERY *?/

/* Styles for The Body */


body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    margin: 0;
  }

/* Styles for Navigation Menu */
nav{
  background-color: #006f46;
  padding: 0 15px;
}

a{
  color: white;
  text-decoration: none;
}

.menu, 
.submenu{
  list-style-type: none;
}

nav img {
  max-width: 90px;              
  min-width: 25px;
  padding: 7.5px 10px 7.5px 0;
  
}

.item{
  padding: 10px;
}

.item.button{
  padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after{
  color:#8f9296
}

/* Mobile Menu */
.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.menu li a{
  display: block;
  padding: 15px 5px;
}

.menu li.subitem a{
  padding: 15px;
}

.toggle{
  order: 1;
  font-size: 20px;
}

.item.button{
  order:2;
}

.item{
  order:3;
  width: 100%;
  text-align: center;
  display: none; 
}

.active .item{
  display: block;
}

.button.secondary{
  border-bottom: 1px #8f9296 solid;
}

/* submenu */
.submenu{
 display: none;
}

.submenu-active .submenu{
  display: block;
}

.has-submenu > a::after{
  font-family: "font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}

.subitem a{
  padding: 10px 15px;
}

.submenu-active{
  background-color:#013522;
  border-radius:3px;
}

/* Styles for Article Content */
  .content{
    margin-left: 25%;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  .article{
    margin: 10px 10px;
    width: 90%;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
    grid-gap:1rem;
  }

  .article-item{
    display: flex;
    flex-flow: column;
    border: 1px #006f46;
    border-radius: 1rem;
    padding: 2rem;
    justify-content: space-between;
  }

  .imgarticle{
    width: 300px;
    margin-right: 20px;
    max-height: 555px;
  }

  .article h3{
    color: #1d5540;
    margin: 10px;
  }

  .article p{
    color: black;
    margin: 10px;
    align-items: flex-start;
  }

  .article .btn {
    color: #F7FFF7;
    background: #006f46;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
    width: 45%;
    align-self: left;
  }

/*Survey*/
.survey{
  background-color: whitesmoke;
  width: 80%;
  margin: 15px auto;
  padding: 30px;
}

span{
  color: rgb(217, 48, 48);
  font-size: small;
}

h1{
  color: #006f46;
  font-size: 20px;
  font-weight: bold;
}

fieldset{
  margin:20px 5px;
  padding: 20px;
}

fieldset legend{
  color: #006f46;
  font-weight: bold;
}

.information{
  color:#006f46;
  float: left;
  width: 8em;
  font-weight: bold;
  text-align: right;
}

.contact{
  color:#006f46;
  font-weight: bold;
}

.foodpref{
  color:#006f46;
  font-weight: bold;
}

.name{
  width: 20em;
  margin-left: 2em;
  margin-bottom: 1em;
}

textarea{
  height: 5em;
  width: 95%;
  font-family: Arial, Helvetica, sans-serif;
}

.btnform{
  color: #023022;
  font-style: italic;
}

.imglocationid{
  width: 300px;
  margin-right: 20px;
  max-height: 555px;
}

/*Confirm*/
.confirmation{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.confirmation h1{
  text-align: center;
}

.confirmation p{
  text-align: center;
}

.confirmation .btn {
  color: #F7FFF7;
  background: #006f46;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  width: 10%;
  align-self: left;
}

/* Styles for Recommendation Content */
#slideshow{
  width: 100%;
  height: 25vw;
  max-height: 220px;
  object-fit: cover;
}

.recommendation{
  margin: 10px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.recommendation h1{
  color: #006f46;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 0;
}

.recommendation h2{
  font-size: 16px;
  font-weight:normal;
  padding: 10px;
  margin: 0;
}

.recommendation .btn {
  color: #F7FFF7;
  background: #006f46;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  width: 40%;
  align-self: left;
}

.website{
  color: #8f9296;
  font-style: italic;
}

.imglocation p{
  color:#004e36;
  font-weight: bold;
}

address {
  color:#8f9296;
  font-style: italic
}

.rec-item{
  display:flex;
  flex-direction: column;
  padding: 8px;
}

.imglocation{
  display: flex;
  margin-right: 20px;
  flex-wrap: wrap;
} 

.locationid{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 25px;
}


/* Footer */
.footer-distributed {
  color: white;
  background-color: #004e36;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  color: #ffffff;
  padding: 0.5em 0 0 3em;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  max-width: 180px;
  padding: 1% 3em 0 0;
}

.footer-copyright p {
  margin: 0;
  padding-bottom: 0.75em;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 3px;
  transition: all .25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

/*Tablet menu*/
@media all and (min-width:700px){
  /*.menu{
    justify-content: center;
  }*/

  nav img{
    max-width: 70px; 
    flex:1;
  }

  .item.button{
    width:auto;
    order:1;
    display: block;
  }

  .toggle{
    flex:1;
    text-align: right;
    order:2;
  }

  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    background: #004e36;
    border: 1px #01b976;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #01b976 solid;  
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: #01b976;
    border-color: #004e36;
  }

}

/*Dektop menu*/
@media all and (min-width: 960px) {

  .item {
      order: 1;
      position: relative;
      display: block; 
      width: auto;
  }
  .button {
      order: 2;
  }
  .submenu-active .submenu {
      display: block;
      position: absolute;
      left: 0;
      top: 68px;
      background: #004e36;
      width: 150px;
      text-align: left;
  }
  .toggle {
      display: none;
  }
  .submenu-active {
      border-radius: 0;
  }
}